.content {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  padding: 30px 30px 0 30px; }

.content:before {
  content: '';
  position: absolute;
  width: 400%;
  height: 4px;
  background: #2C2C2C;
  top: 0;
  right: calc(50% + 90px);
  border-radius: 4px; }

@media (min-width: 46.25em) {
  .content:before {
    right: calc(50% + 320px); } }

/* Footer
   ========================================================================== */
.footer {
  margin-top: 90px; }

@media (min-width: 46.25em) {
  .footer {
    margin-bottom: 100px; } }

.footerHeader {
  position: relative;
  font-size: responsive 18px 42px; }

.footerCopy {
  font-size: responsive 16px 24px;
  line-height: responsive 30px 40px;
  font-family: "Akkurat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

@media (min-width: 46.25em) {
  .footerCopy {
    width: 85%; } }

.footerSignup {
  margin-top: 50px; }

@media (min-width: 46.25em) {
  .footerSignup {
    width: 70%; } }
