.home {
  display: flex;
  flex-direction: column;
  margin-top: 80px; }

@media (min-width: 61.25em) {
  .home {
    height: calc(100vh - 115px);
    justify-content: center;
    margin-top: 0; } }

.homeContainer {
  display: flex;
  max-width: 1300px;
  margin: 0 auto; }

.text {
  background: #fff;
  z-index: 1; }

@media (min-width: 61.25em) {
  .text {
    width: 50%;
    padding-right: 50px; } }

.image {
  padding-top: 1.5em;
  display: none; }

@media (min-width: 61.25em) {
  .image {
    display: block;
    width: 50%; } }

.image svg {
  width: 100%; }

@media screen and (min-width: 1358px) {
  .heading {
    padding-right: 60px; } }

.subheading {
  margin-bottom: 42px;
  font-family: "Akkurat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444; }

.footer {
  position: absolute;
  bottom: 20px; }
