@import '../../../styles/_variables.scss';
@import '../../../../node_modules/sass-mq/_mq.scss';

.column {
  margin-top: 40px;

  @include mq($from: tablet) {
    lost-column: 1/3;
  }
}

.article {
  border: solid;
  border-color: #fff;
  border-radius: 12px;
  transition: all .1s ease-in-out;

  &:hover {
    cursor: pointer;

    .eyes {
      @media screen and(min-width: 1160px) {
        opacity: 1;
      }
    }

    .imageLink {
      &:after {
        @media screen and(min-width: 1160px) {
          opacity: 0.3;
        }
      }
    }
  }
}

.header {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: responsive 18px 20px;
  line-height: 28px;
  color: $body-colour;
}

.eyesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
}

.eyes {
  align-self: center;
  background-color: $primary-colour;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 11px;
  height: 82px;
  width: 82px;
  background-size: 78px 59px;
  background-image: url(./eyes.png) at-2x;
  transition: opacity .1s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.imageLink {
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
  border-radius: 12px;
  overflow: hidden;
  display: none;

  @include mq($from: tablet) {
    display: block;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $primary-colour;
    transition: opacity .1s ease-in-out;
    opacity: 0;
  }

  &:hover {
    &:after {
      @media screen and(min-width: 1160px) {
        opacity: 0.3;
      }
    }
  }
}

.image {
  max-width: 100%;
}

.excerpt {
  font-size: 16px;
  line-height: 28px;
}