.column {
  margin-top: 40px; }

@media (min-width: 46.25em) {
  .column {
    lost-column: 1/3; } }

.article {
  border: solid;
  border-color: #fff;
  border-radius: 12px;
  transition: all .1s ease-in-out; }

.article:hover {
  cursor: pointer; }

@media screen and (min-width: 1160px) {
  .article:hover .eyes {
    opacity: 1; } }

@media screen and (min-width: 1160px) {
  .article:hover .imageLink:after {
    opacity: 0.3; } }

.header {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: responsive 18px 20px;
  line-height: 28px;
  color: #2C2C2C; }

.eyesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0; }

.eyes {
  align-self: center;
  background-color: #FF3BA0;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 11px;
  height: 82px;
  width: 82px;
  background-size: 78px 59px;
  background-image: url(./eyes.png) at-2x;
  transition: opacity .1s ease-in-out;
  opacity: 0;
  z-index: 1; }

.imageLink {
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
  border-radius: 12px;
  overflow: hidden;
  display: none; }

@media (min-width: 46.25em) {
  .imageLink {
    display: block; } }

.imageLink:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FF3BA0;
  transition: opacity .1s ease-in-out;
  opacity: 0; }

@media screen and (min-width: 1160px) {
  .imageLink:hover:after {
    opacity: 0.3; } }

.image {
  max-width: 100%; }

.excerpt {
  font-size: 16px;
  line-height: 28px; }
