:global {
  h1,
  .h1 {
    font-size: responsive 20px 32px;
    line-height: responsive 32px 46px;
  }

  h2,
  .h2 {
    font-size: responsive 16px 24px;
    line-height: responsive 28px 36px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-bold;

    a {
      color: $body-colour !important;
    }
  }

  a {
    color: $body-colour;

    &:hover {
      color: $primary-colour;
    }

    &:active,
    &:focus,
    &:visited {
      color: $body-colour;
    }
  }

  strong {
    font-family: $font-bold;
    font-weight: normal;
  }
}