$body-colour: #2C2C2C;
$primary-colour: #FF3BA0;
$secondary-colour: #239FFC;


$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-regular: "Akkurat", $font-stack;
$font-bold: "AkkuratBold", $font-stack;

$alt-font: 'ElenaWebBasicRegular', $font-stack;

$spacing-unit: 20;