.footer {
  lost-utility: clearfix;
  clear: both; }

.nav {
  margin-top: 40px; }
  @media (min-width: 46.25em) {
    .nav {
      margin-top: 20px; } }
  .nav li {
    display: inline-block;
    margin-right: 35px;
    font-size: 14px; }
    @media (min-width: 46.25em) {
      .nav li {
        margin-right: 65px; } }
    .nav li.current a {
      text-decoration: underline; }
  .nav a {
    text-decoration: none;
    border: none; }
